################################################################################
# Secrets
################################################################################

test -f "secrets.envrc" || { >&2 echo "Missing \`secrets.envrc\`. See \`secrets.envrc.template\`"; exit 1; }

source_env secrets.envrc

################################################################################
# Project related
################################################################################

