# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Secrets to local development
secrets.envrc

# JetBrains' Ides
.idea
