#
# Copy this file to `secrets.envrc`, and put your own credentials
# Note `secrets.envrc` has an entry in `.gitignore`
#

# ghcr.io/danim55/
export REGISTRY=your_registry_here
export REGISTRY_USER=your_username_here
export REGISTRY_PASSWORD=your_personal_access_token_here
